*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;;
}

a{
    text-decoration: none;
   
}
.flex{
    display: flex;
}

header{
    padding: 14px;
    justify-content: space-around;
align-items: center;
    background-color:#e3eef6;
}
h2{
    color: #577592;
    font-size: 32px;
}
.searchbar form{
    gap: 10px;
}

#inputText{
    padding: 8px;
    outline: none;
    border: none;
}

#search-btn{
    padding: 11px;
    background-color: #0d7ed3;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
}

#search-btn:hover{
    background-color: #0867b1;
}

#card-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
padding: 10px;
    width: 80%;
    margin: auto;
}

#card-section>div{
margin: 10px;
width: 80%;
height: 23rem;
border: 1px ridge #577592;
box-shadow: 2px 2px 4px #808080;
border-radius: 5px;
}

#card-section div img{
width: 100%;
height: 13rem;
}

#card-section div a{
    margin-bottom: 1rem;

    color: #577592;
    font-weight: 600;
}

.card{
    flex-direction: column;
    gap: 50px;
    background-color: #e3eef6;
    
}

.card>div{
    text-align: center;
   
}
